.table {
  overflow: auto;
  width: 100%;

  // .table__table
  &__table {
    width: 100%;
    table-layout: fixed;

    @include mobile-d {
      table-layout: auto;
    }
  }

  // .table__head
  &__head {
  }
  // .table__body
  &__body {
  }
  // .table__row
  &__row {
    // .table__row_head
    &_head {
    }
  }
  // .table__cell
  &__cell {
    text-align: center;
    white-space: nowrap;

    @include adaptiveValue('padding', 20, 5);
    // .table__cell_head
    &_head {
      white-space: wrap;
    }
  }

  &_card {
    .table__head {
      display: none;
    }
    .table__row {
      display: block;
      border: 1px solid #000;

      &:not(:last-child) {
        margin-bottom: rem(20);
      }
    }
    .table__cell {
      padding: rem(5);
      display: flex;
      justify-content: space-between;

      &:before {
        content: attr(data-label) ': ';
        font-weight: bold;
      }
    }
  }
}
