.add-asset-form {
  display: grid;
  max-width: rem(300);
  @include adaptiveValue('row-gap', 30, 15);
  @include adaptiveValue('font-size', 16, 14);
  // .add-asset-form__symbol
  &__symbol {
  }
  // .add-asset-form__symbols
  &__symbols {
    height: rem(300);
    font-size: rem(14);
    .table {
      &__cell {
        @include adaptiveValue('padding', 10, 5);
      }
    }
  }
  // .add-asset-form__box
  &__box {
    display: grid;
    @include adaptiveValue('row-gap', 20, 10);
  }
  // .add-asset-form__symbol-value
  &__symbol-value {
    display: flex;
    justify-content: center;
    column-gap: rem(10);
    font-weight: 900;
  }
  // .add-asset-form__quantity
  &__quantity {
  }
  // .add-asset-form__buttons
  &__buttons {
    display: flex;
    justify-content: space-between;
  }
}
